<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Recipes App{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    {% endblock %}
</head>
<body>
<nav>
    <ul>
        <li><a href="#">Recipes</a></li>
        <li><a href="#">Ingredients</a></li>
        <li><a href="#">Weekly Recipes</a></li>
    </ul>
</nav>
{% block body %}{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}
</body>
</html>
```